<html>

<head>
      <link rel="stylesheet" href="/resorces/css/main.css">


</head>

<body>
      <h1>Fuck you spider man</h1>
      <div id="top"></div>
      <div id="session"></div>
      <div class="stats" id="display"></div>
      <div class="graph" id="graphs">
            <canvas class="chart" id="playerChart"></canvas>
            <canvas class="chart" id="teamMatesChart"></canvas>

            <canvas class="chart" id="enemysChart" ></canvas>
      </div>

</body>
<script src="../scripts/Chart.js"></script>
<script src="../scripts/afterLogIn.js"></script>

</html>