
<html>
    <head>
        <link rel="stylesheet" href="/resorces/css/main.css">
            

        </head>
  <body>
        <h1>Fuck you spider man</h1>
        <div id="top"></div>
        <div class="stats" id="display"></div>
        <canvas id="playerChart" style="width:100%;max-width:600px"></canvas>
        <canvas id="teamMatesChart" style="width:100%;max-width:600px"></canvas>

        <canvas id="enemysChart" style="width:100%;max-width:600px"></canvas>

  </body>
  <script src="../scripts/Chart.js"></script>
  <script src="../scripts/afterLogIn.js"></script>

</html>