
<html>
    <head>
        <link rel="stylesheet" href="/resorces/css/main.css">

        </head>
  <body>
        <h1>Fuck you spider man</h1>
        <div class="search">
            <p>Search for a player</p>
            <input type="text" name="bngId" id="bngId" value="rawr_XD (TIMELOST)" required>
            <button type="submit" name="submit" id="submit" value="Load">Load</button>
        </div>
        <div id="display"></div>
        <div id="load" class="noDisplay">Please wait loading data</div>


  </body>

  <script src="../scripts/home.js"></script>

</html>